<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Green Package</title>

  <script src="./javascripts/vue.min.js"></script>

  <link rel="stylesheet" href="./stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <link rel="stylesheet" href="./css/materialdesignicons.min.css" />
</head>

<body>
  <div id="app" class="container">
    <div class="text-center mt-2 mb-1">
      <h1>{{title}}</h1>
    </div>
    <!--
              x:
                lon 9.9281826,
                lon 17.1884738,
                width : 8
                y:
                lat 49.3857256
                lat 46.5484077
                height: 3
      
             -->
    <div class="text-center mx-auto">
      <svg viewBox="0 0 297 210" style="height: 70vh">
        <g transform="scale(1,1.1)">
          <image class="img-fluid max-width: 100%; height: auto;" x="0" y="0" width="297" height="210" href="./images/ÖsterreichSelbst_v2_clean.svg" />
          <g transform="translate(0,-87)">
            <g v-for="c of cities">
              <circle :cx="c.coord.x" :cy="c.coord.y " r="2" @click="selectCity(c.id)" v-on:dblclick="doubleClick(c.id)" v-if="c.isSelected == false" />
              <circle :cx="c.coord.x" :cy="c.coord.y " fill="red" r="2" @click="selectCity(c.id)" v-if="c.isSelected" />
              <text :x="c.coord.x-11" :y="c.coord.y-3 " style="font-size: 5">
                {{c.name}}
              </text>
            </g>
            <g>
              <line v-for="l of lines" :x1="l.x1" :x2="l.x2" :y1="l.y1" :y2="l.y2" stroke="black"></line>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <h3 class="text-center">Stadt 1</h3>
        <span v-if="selectedCities[0] != null">
          <span class="text-center">
            <a :href="selectedCities[0].link">
              {{selectedCities[0].name}}<img :src="selectedCities[0].wappen" style="height: 5vh" /></a> </span><br />
          <span class="text-center"><a :href="selectedCities[0].link">{{selectedCities[0].link}}</a></span>
        </span>
      </div>
      <div class="col-6 mb-2">
        <h3 class="text-center">Routen</h3>
        <span v-if="selectedCities.length == 2">
          <span class="text-center"><span class="mdi mdi-car-outline"></span> C02-Austoß:
            {{selectedRoute[0].emission}} Dauer:
            {{selectedRoute[0].duration}}Min</span><br />
          <span class="text-center"><span class="mdi mdi-train"></span> C02-Austoß:
            {{selectedRoute[1].emission}} Dauer:
            {{selectedRoute[1].duration}}Min</span><br>
          <!-- <span>C02-Austoß von <span class="mdi mdi-car-outline"></span> : {{co2Vergleich}} mal höher als von <span class="mdi mdi-train"/></span><br> Rechnung: (Auto-Emission/Zug-Emission) -->
          <!-- <span>Dauer von <span class="mdi mdi-car-outline"></span>: {{dauerVergleich}} mal länger als <span class="mdi mdi-train"></span></span> Rechnung: (Auto-Dauer/Zug-Dauer) -->
        </span>
      </div>
      <div class="col-3 mb-2">
        <h3 class="text-center">Stadt 2</h3>
        <span v-if="selectedCities[1] != null">
          <span class="text-center"><a :href="selectedCities[1].link">{{selectedCities[1].name}}<img :src="selectedCities[1].wappen"
                style="height: 5vh" /></a></span><br />
          <span class="text-center">
            <a :href="selectedCities[1].link">{{selectedCities[1].link}}</a></span>
        </span>
      </div>
    </div>
  </div>
  <script src="./javascripts/data_1v1.js"></script>
  <script src="./javascripts/app_1v1.js"></script>
  <script src="./javascripts/genRoutes.js"></script>
  <script src="https://use.fontawesome.com/6d4049124d.js"></script>
</body>

</html>